.weather-container {
  list-style: none;
  max-width: 500px;
  min-width: 500px;
}

.detail-div {
  border-left: 3px solid rgba(0, 136, 169, 1);
}

.weather-container-li {
  display: flex;
}

.weather-container-li li {
  list-style: none;
  display: inline-block;
  width: 150px;
  padding: 8px
}

ul {
  text-align: left;
}

.location {
  font-size: 40px;
}

.date {
  color: rgba(0, 136, 169, 1);
  padding: 12px;
}

.degree {
  font-size: 35px;
}
