table {
  padding: 10px;
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  max-width: 400px;
  min-width: 400px;
}

table img {
  height: 30px;
  width: 30px;
}

table tr {
  border: none;
  transition: transform 0.2s;
  cursor: default;
}

table tr:hover {
  background-color: #bdbdbd;
  border-radius: 10px;
  transform: scale(1.02);
}
