table {
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
  max-width: 500px;
  min-width: 500px;
}

table img {
  height: 30px;
  width: 30px;
}

table tr {
  transition: transform 0.2s;
  color: white;
  cursor: default;
}

table td {
  border: none;
}

table tr:hover {
  background-color: white;
  border-color: white;
  color: rgb(64, 65, 64);
  transform: scale(1.02);
}
