table {
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
  max-width: 500px;
  display: flex;
  flex-grow: 100;
}

table img {
  height: 30px;
  width: 30px;
}

table tr {
  transition: transform 0.2s;
  color: white;
  cursor: pointer;
}

table td {
  border: none;
  padding: 5px;
}

table tr:hover {
  background-color: white;
  border-color: white;
  color: rgb(64, 65, 64);
  transform: scale(1.02);
}
