.map-container {
  width: 800px;
  height: 300px;
  border: 0;
  border-radius: 5px;
}

a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}
